body  {
    padding: 0;
    margin: 0;
    background-color: cornflowerblue;
}

.container  {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#clock  {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12vw;
    background-color: darkblue;
    color: white;

}

#date  {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8vw;
    background-color: darkblue;
    color: white;
}

.controls  {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.button  {
    font-weight: bold;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 4px 8px;
    margin-left: 4px;
    cursor: pointer;
}

.set-alarm  {
    background-color: lime;
}

.clear-alarm  {
    background-color: crimson;
}